@model List<string>
@{
    ViewData["Title"] = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="alert alert-danger mt-4">
    <h2>
        Error occurred!
    </h2>
    <hr />
    <ul>
        @foreach (var item in Model)
        {
            <li>@item</li>
        }
    </ul>
    

</div>

