@model Project.MVC.ViewModels.UserViewModel

@{
    ViewData["Title"] = "SignUp";
}

@if (ViewBag.status == "true")
{
    <div class="alert-info mt-4">
        <p>Registration Successful! Activate your account by clicking on the confirmation e-mail sent to your e-mail address.</p>
    </div>
    <script>
        setTimeout(function () {
            window.location.href = 'https://localhost:44386/Home/LogIn';
        }, 5000)
    </script>
}
<div class="row">
    <div class="col-md-4 offset-md-4">
        <h4 class="mt-4">Sign Up Form</h4>
        <hr />
        <form asp-action="SignUp" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" placeholder="0555 555 55 55"/>
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Sign Up" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


