@model List<System.Security.Claims.Claim>
@{
    ViewData["Title"] = "Claims";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Claims List</h2>
<hr />
<table class="table table-bordered table-striped table-responsive">
    <tr>
        <td>Kim</td>
        <td>Dağıtıcı</td>
        <td>Ad</td>
        <td>Değer</td>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Subject.Name</td>
            <td>@item.Issuer</td>
            <td>@item.Type</td>
            <td>@item.Value</td>
        </tr>
     }
        
</table>
