@model List<AppRole>
@{
    ViewData["Title"] = "Roles";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h3 class="mt-4">Roles List</h3>
<hr />

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <td>Id</td>
            <td>Role Name</td>
            <td>
                Transactions
            </td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>
                    <a class="btn btn-danger" asp-action="RoleDelete" asp-route-id="@item.Id">Delete</a>
                    <a class="btn btn-warning" asp-action="RoleUpdate" asp-route-id="@item.Id">Update</a>
                </td>
            </tr>
        }

    </tbody>
    
</table>
    <a class="btn btn-info" asp-action="RoleCreate" asp-controller="Admin">Create Role</a>



