@model Project.MVC.ViewModels.AdminChangePasswordViewModel

@{
    ViewData["Title"] = "UsersChangePassword";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="row">
    <div class="col-md-6">
        <h4>User's Password Change Form</h4>
        <p>User: @Model.UserName</p>
        <hr />
        <form asp-action="UsersChangePassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UserId" />
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Change Password" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


