
@{
    ViewData["Title"] = "AccessDenied";
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
}

<div class="alert-info">
    <h4>You are not authorized to enter the page! Please contact the site administrator to obtain authorization.</h4>
</div>

