
@{
    ViewData["Title"] = "Exchange";
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
}

<div class="alert-danger mt-4">
    <h2>You can access stock market information free of charge for 30 days. You have to pay to view it after 30 days.</h2>
</div>


